<div class="popup popinformation">
    <div class="popupContent">
       <div class="popupHeader">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="Test()"><span aria-hidden="true">&times;</span></button>
       </div>
       <div class="popupmain"><span id="NContent"></span><input id="hidNCIdVal" type="hidden" /></div>
       <div class="popupFooter text-right">
          <button type="button" class="btn btn-primary popcancel">Cancel</button>
          <button type="button" class="btn btn-primary mr-20">Readmore</button>
       </div>
    </div>
  </div>