<div class="MainSite">
  <!-- LeftMenu Start -->
  <div id="LeftMenu">
     <div class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></div>
     <div class="col-lg-10">
        <app-sidemenu></app-sidemenu>
     </div>
  </div>
  <!-- LeftMenu End -->
  <div class="mainpanel">
     <header class="pullleft fullwidth">
        <!-- header Start -->
        <!-- Logo Start -->
        <app-logo *ngIf="CommonData" leftNav={{CommonData[0].leftNav}} homeLink={{CommonData[0].homeLink}}></app-logo>
        <!-- Logo End -->
        <!-- Right Panel Start -->
        <app-right-panel *ngIf="CommonData" quickSearch={{CommonData[0].QuickSearch}}></app-right-panel>
        <!-- Right Panel End -->
        <!-- header End -->
     </header>
     <!-- breadCrumb Start -->
     <div class="headerSeperate homePage"></div>
     <!-- breadCrumb End -->
     <section>
        <!-- section Start -->
        <div class="fullwidth">
           <span id="lblError" class="error-message pl-20 pt-15"></span>
           <div class="HomePageSvgIcons">
              <div id="AppTitleList" class="RadTileList RadTileList_Bootstrap">
                 <!-- 2017.2.621.40 -->
                 <div class="rtlistScrollWrapper rtlistHidden" *ngIf="CommonData">
                   <!-- internal app start -->
                    <app-dashboard-list 
                      [pageTitle]="'internal App'" 
                      intro={{CommonData[0].internalApp}}
                      [show]="'internal'"
                      [index]="'1'"
                      >
                    </app-dashboard-list>
                    <!-- Data & Reports Apps start -->
                    <app-dashboard-list 
                      [pageTitle]="'Data & Reports'" 
                      intro={{CommonData[0].dataAndReports}}
                      [show]="'dataReports'"
                      [index]="'2'"
                      >
                    </app-dashboard-list>
                    <!-- Useful Links Apps start -->
                    <app-dashboard-list 
                      [pageTitle]="'Useful Links'" 
                      intro={{CommonData[0].usefulLinks}} 
                      [show]="'usefulLinks'"
                      [index]="'3'"
                      >
                    </app-dashboard-list>
                 </div>
              </div>
           </div>
        </div>
        <!-- section End -->
     </section>
     <article>
        <app-feedback></app-feedback>
     </article>
     <!-- footer Start -->
     <app-footer></app-footer>
     <!-- footer End -->
  </div>
</div>
<div class="overlay"></div>
<app-popup-warning></app-popup-warning>
<app-popup-information></app-popup-information>
<app-welcome-popup welcome={{CommonData[0].welcome}}></app-welcome-popup>